@model LoginModel
@{
    ViewData["Title"] = "Home Page"; 
}

@{
    Layout = null;
 }

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Facebook.UI.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Facebook.UI.MVC.styles.css" asp-append-version="true" />
</head>
<body>

<div id="header_wrapper">
 <div id="header">
 <li id="sitename"><a href="https://localhost:7029/PostEntities">Facebook</a></li>
 <form asp-action="Login">
 <li>Email Address<br> <input asp-for="email" class="form-control" /></li>
 <li>Password<br><input asp-for="password" type="password" class="form-control" /><a href="">Forgotten account?</a> </li>
 <li><input type="submit" value="Log In" id="Submit" class="btn btn-defualt" onclick="location.href='@Url.Action("Login", "Home")'" /></li>
 </form> 
 </div>
</div>

<div id="wrapper">

<div id="div1">
<p>Facebook helps you connect and share with the <br>people in your life.</p>
<img src="images/fb_map_image.png">
</div>

<div id="div2">
<h1>Create an account</h1>
<p>It's free and always will be.</p>
<form asp-controller="AccountUserInfoEntities" asp-action="CreateUser" enctype="multipart/form-data" method="post">

<li>            <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span><li> 

<li>            <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span></li>    
                
<li>            <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span></li>

<li>            <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span></li>

<li>            <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span></li>

<li>            <label asp-for="ProfileDescription" class="control-label"></label>
                <input asp-for="ProfileDescription" class="form-control" />
                <span asp-validation-for="ProfileDescription" class="text-danger"></span></li>
<li>
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span></li>
<li>
                <label asp-for="Gender" class="control-label"></label>
                <br />
                <select asp-for="Gender">
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Unspecified</option>
                </select> 
                <br />
<li>
                <label asp-for="ImgPath" value="Profile picture" class="control-label"></label>
                <input asp-for="ImgPath" class="form-control" type="file" name="file" id="upload"/>
                <span asp-validation-for="ImgPath" class="text-danger"></span></li>
<br />
<li id="terms">By clicking Create an account, you agree to our <a href="">Terms</a> and that <br>you have read our <a href="">Data Policy</a>, including our <a href="">Cookie Use</a>.</li>

<li><input type="submit" value="Create" class="btn btn-primary" /></li>
</form>



<li id="create_page"><a href="">Create a Page</a> for a celebrity, band or business.</li>
</div>

</div>

<div id="footer_wrapper">

<div id="footer1">
English (UK) <a href="">हिन्दी</a><a href="">ਪੰਜਾਬੀ</a><a href=""> اردو</a><a href="">தமிழ்</a><a href="">বাংলা</a><a href="">मराठी</a><a href="">తెలుగు</a><a href="">ગુજરાતી</a><a href="">ಕನ್ನಡ</a><a href="">മലയാളം</a>
</div>
<div id="footer2">
<a href="">Sign Up</a><a href="">Log In</a><a href="">Messenger</a><a href="">Talkerscode</a><a href="">Mobile</a><a href="">Find Friends</a><a href="">Badges</a><a href="">People</a><a href="">Pages</a><a href="">Places</a><a href="">Games</a><a href="">Locations</a><a href="">Celebrities</a><a href="">Groups</a><a href="">Moments</a><a href="">About</a><a href="">Create Advert</a><a href="">Create Page</a><a href="">Developers</a><a href="">Careers</a><a href="">Privacy</a><a href="">Cookies</a><a href="">Ads</a><a href="">Terms</a><a href="">Help</a>
<p>Design By TalkersCode.com</a>
</div>

</div>
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}