@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <p><a href="https://localhost:7029/PostEntities">PostEntities</a></p>
    <p><a href="https://localhost:7029/AccountUserInfoEntities">AccountUserInfoEntities</a></p>
    <p><a href="https://localhost:7029/PostEntities1">Test Feed</a></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

